/** @format */
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.sky {
  height: 100vh;
  width: 100%;
  background-image: url("images/background.jpg");
  position: absolute;
  background-repeat: no-repeat;
}
.tree {
  height: 100vh;
  width: 100%;
  background-image: url("images/trees.png");
  position: absolute;
  background-size: cover;
  /* top: 150px; */
}
.road {
  height: 20vh;
  width: 800%;
  background-image: url("images/track.png");
  position: absolute;
  /* background-size: cover; */
  top: 80vh;
  animation: movetrack linear 9s infinite;
}
.car {
  height: 100px;
  width: 380px;
  background-image: url("images/car_body.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 445px;
  /* top: 666px; */
  top: 71%;
  animation: shake linear 0.9s infinite;
}
.wheel1 img {
  /* height: 95px; */
  width: 77px;
  position: relative;
  top: 33px;
  left: 40px;
  animation: wheelrotation linear 0.2s infinite;
}
.wheel2 img {
  /* height: 14px; */
  width: 79px;
  left: 230px;
  /* top: 45px; */
  bottom: 40px;
  position: relative;
  animation: wheelrotation linear 0.2s infinite;
}
@keyframes wheelrotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes movetrack {
  100% {
    transform: translateX(-500vw);
  }
}
@keyframes shake {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
