/** @format */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Oswald:wght@400;700&family=Poppins:wght@300;400;500&family=Roboto+Condensed&family=Roboto+Slab:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    background-color: grey;

    /* width: 10vw; */
    height: 100vh;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Oswald', sans-serif;
}
.sidebar nav{
    padding: 40px;
}
.sidebar nav ul li {
    padding: 10px;
    font-size: 20px;
    padding: 33px 0;
    list-style: none;
    font-family: 'Baloo Bhai 2', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
.sidebar nav ul li a{
    /* list-style: none;  */
    text-decoration: none;
    color: black;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.infocontainer{
    /* background-color: blue; */
    height: 48vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 78px;
}
.name{
    font-size: 68px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about{
    font-size: 59px;
}
.moreabout{
    font-size: 22xp;
    margin-top: 12px;
}
.btn{
    margin-top: 34px;
}
.btn button{
padding: 9px 14px;
border-radius: 22px;
color: white;
background-color: darkblue;
font-weight: bold;
font-size: 19px;
margin: 0 3px;
cursor: pointer;
}
.btn button:hover{
    background-color: white;
    color: darkblue;
}
.divpic img{
    height: 48vh;
    /* padding-left: 78px; */
    border-radius: 50%;
}
.contactform{
    padding: 0 25px;
    padding-top: 144px;
    font-family: Arial, Helvetica, sans-serif;
}
.contactform h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
}
#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}
.btn button{
    /* contact button i.e submit */
    padding: 9px 10px;
border-radius: 19px;
color: white;
background-color: darkblue;
font-weight: bold;
font-size: 14px;
margin: 0 3px;
cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: darkblue;
}
.blogitem{ 
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.blogcontainer h1{
    font-family: 'Times New Roman', Times, serif;
    margin: 23px;
}
.blogitem p{
    font-family: 'Times New Roman', Times, serif;
}
.intro h1{
    margin: 0 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro p{
    margin: 0 12px;
}
.intro h2{
    margin: 0 12px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skillcontainer{
    padding: 12px;
}
.skill{
width: 255px;
height: 6px;
background-color: blue;
}
.skillitem{
    display: flex;
    align-items: center;
    border-radius: 2px solid;
}
.hundered{
    width: 265px;
    background-color: blueviolet;
}
.fifty{
    width: 194px;
    background-color: aqua;
}
.t5{
    width: 200px;
    background-color: black;
}
.hambar .menu{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
 .hambar .cross{
     margin-right: 200px;
     left: 200px;
    /* position: relative; */
}
