/** @format */

#clockcontainer {
  position: relative;
  margin: auto;
  /* border: 2px solid red; */
  height: 40vw;
  width: 40vw;
  background: url(image/clock1.png) no-repeat;
  background-size: 100%;
}
#hour,
#minute,
#second {
  position: absolute;
  /* background: black; */
  border-radius: 5px;
  transform-origin: bottom;
}
#hour {
  height: 15%;
  width: 1%;
  top: 35%;
  left: 49.5%;
  opacity: 0.8;
  background: brown;
}
#minute {
  height: 24%;
  width: 1%;
  top: 26%;
  left: 49.5%;
  opacity: 0.8;
  background: red;
}
#second {
  height: 41%;
  width: 1%;
  top: 9%;
  left: 49.5%;
  opacity: 0.8;
  background: blue;
}
